@tailwind base;
@tailwind components;
@tailwind utilities;

/* Font Inter */
@font-face {
  font-family: "Inter";
  src: url("/fonts/inter/Inter-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/inter/Inter-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/inter/Inter-SemiBold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/inter/Inter-Bold.ttf");
  font-weight: 700;
}

body,
html {
  font-family: "Inter";
  min-height: 100vh;
  background: #f9fafb;
}

/* Hide scrollbar */
.no-scrollbar {
  /* IE and Edge */
  -ms-overflow-style: none;
  /* Firefox */
  scrollbar-width: none;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Custom scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  @apply bg-primary rounded-lg;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  @apply bg-red-400 opacity-20 cursor-pointer;
}

/* Custom Input style */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
